# OS
.DS_Store

# Binary
obj/
*.o
webserv

# Temporary files
tmp/webserv_body_*
tmp/webserv_CGI_output_*

# Dev tools
compile_commands.json
.clangd
.cache

.vscode
.idea

*.bat
*.ps1
*.sh

# Demo folders
local/
error_pages/
html*/
www/

# Demo files
*.html
*.png
*.jpg
*.md
*.ico

# Config
*.conf
